
.options-panel {
    display: block;
    height: 430px;
    left: 0;
    padding: 15px 5px 10px 15px;
    position: fixed;
    top: 68px;
    width: 199px;
    z-index: 999999;
    background-color: #111111;
    -moz-border-radius: 0 15px 15px 0;
    -webkit-border-radius: 0 15px 15px 0;
    border-radius: 0 15px 15px 0;
    text-transform: uppercase
}

.options-panel-closed {
    display: block;
    height: 50px;
    left: 0;
    padding: 15px 21px 10px 15px;
    position: fixed;
    top: 80px;
    width: 42px;
    z-index: 999999;
    background-color: #111;
    -moz-border-radius: 0 15px 15px 0;
    -webkit-border-radius: 0 15px 15px 0;
    border-radius: 0 15px 15px 0;
    text-transform: uppercase;
    color: #AAA !important
}

.options-panel-closed span, .options-panel-closed a, #close-options span {
    color: #AAA !important;
    text-decoration: none !important;
}

.options-panel-closed span:hover, .options-panel-closed a:hover, #close-options span:hover {
    color: #fff !important;
    text-decoration: none !important;
}

#close-options {
    position: absolute;
    top: 5px;
    right: -5px
}

.options-panel h4 {
    font-size: 22px;
    margin: 0 0 10px 0;
    color: #fff !important;
}

.options-panel p {
    color: #444;
    font-size: 18px;
    margin: 10px 0 10px 0;
    width: 100%;
    float: left
}

.options-panel ul {
    margin: 0;
    list-style: none
}

.options-panel ul li {
    float: left;
    margin: 0 10px 2px 0;
    padding: 0 10px 0 0;
    border-right: 1px dashed #333
}

.options-panel a {
    margin: 0;
    padding: 0;
    color: #ccc !important;
    font-size: 11px;
}

.options-panel .options-panel-note {
    color: #ccc !important;
    font-size: 10px;
}

.custom-css {
    font-size: 10px
}

.options-panel img {
    margin: 0;
    padding: 0
}

.options-panel ul li a {

}

.options-panel input, .options-panel textarea {
    width: 173px
}

.options-panel ul li a:hover {
    color: #aaa !important;
}

.custom-icon-minus, .custom-icon-plus {
    width: 46px;
    height: 46px;
    display: block;
    margin-right: 14px
}

.custom-icon-minus {
    background: url(../images/customize.png) no-repeat 0 0
}

.custom-icon-plus {
    background: url(../images/customize.png) no-repeat 0 0
}